name: Daily Job Update

on:
  schedule:
    - cron: "0 18 * * *"   # Daily 11:30 PM IST
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run job generator
        run: python scripts/generate_jobs.py

      - name: Commit and push updated JSON
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data/jobs-source.json
          git commit -m "Auto update jobs" || echo "No changes"
          git push
